@import '_help.scss';

.error {
    background-image: url('../public/images/error.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;

    .btn {
        text-transform: capitalize;

        a {
            text-decoration: none;
            color: $white;
            padding: 1.5rem 4rem;
            background-color: $maincolor;
            box-shadow: 0 0 7px 0 rgb(128 59 236 / 70%);

            border-radius: 25px;
            font-size: 1.5rem;

            &:hover {
                color: $maincolor;
                background-color: $white;
            }
        }
    }
}