@import '_help.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}
a{
  color: inherit;
  text-decoration: none;
}

h2 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
  font-size: 40px;
}

h3{
  font-size: 28px;
}
ul,li{
  list-style: none;
}
