.ourwork {
    padding: 1rem 0 5rem 0;
    .worksbtnsbox {
        padding: 1rem 0;
        .btn {
            margin: 0.5rem 1rem;
            background-color: transparent;
            border: none;
            text-transform: capitalize;
            &:hover {
                background-color: #4232c2;
                border-radius: 25px;
                padding: 0.5rem 1rem;
            }

        }
    }
    .workcard {
        .card {
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: 0.25rem;
            .imgdetails{
                padding: 1rem;
                a{
                    text-decoration: none;
                }
            }
        }
    }
}